@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #2f1611;
  color: #fff;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  main {
    height: 600px;
    width: 400px;
  }
}

/****************Loader ****************/

.splash {
  height: 100%;
  width: 100%;
  /* background: rgb(98, 26, 21);
  background: radial-gradient(
    circle,
    rgba(98, 26, 21, 1) 0%,
    rgba(98, 19, 14, 1) 13%,
    rgba(142, 14, 0, 1) 100%
  ); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash img {
  width: 140%;
}

/**************** Home ****************/
.home {
  height: 100%;
  width: 100%;
  position: relative;
}
.home img {
  width: 120%;
}
.home-body {
  padding: 0 15px;
}

.layer {
  background-color: rgba(98, 26, 21, 0.9);
  height: 200px;
  position: absolute;
  z-index: 1;
  top: 0;
}

.home h2 {
  font-size: 44px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "ADLaM Display", cursive;
  color: #e65a25;
}

.home p {
  padding: 10px;
  font-family: "SolaimanLipi", sans-serif;
  font-size: 24px;
}

.home a {
  background-color: #e65a25;
  color: #fff;
  border: none;
  width: 90%;
  padding: 20px;
  font-size: 20px;
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "ADLaM Display", cursive;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
